<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-4">
	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Nuestras Redes:</span>
		</div>
		<div>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-google"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-github"></i>
			</a>
		</div>
		<!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i>Onlyflans
					</h6>
					<p>
						Visita la mejor pastelería con los flanes más jugosos de la web.
						No te pierdas las novedades y recetas.
					</p>
				</div>
				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<a href="https://github.com/"><i class="fa-brands fa-github px-3" data-bs-toggle="tooltip"
							data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Visitar Github"></i></a>
					<a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin px-3 " data-bs-toggle="tooltip"
							data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Visitar Linkedin"></i></a>
					<a href="https://www.twitter.com/"><i class="fa-brands fa-twitter px-3" data-bs-toggle="tooltip"
							data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Visitar Twitter"></i></a>
					<a href="https://www.facebook.com/"><i class="fa-brands fa-facebook px-3" data-bs-toggle="tooltip"
							data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Visitar Facebook"></i></a>
				</div>
				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Links
					</h6>
					<p>
						<a href="/about" class="text-reset">Nosotros</a>
					</p>
					<p>
						<a href="/welcome" class="text-reset">Bienvenido</a>
					</p>
					<p>
						<a href="/help" class="text-reset">Ayuda</a>
					</p>
				</div>
				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
					<p><i class="fas fa-home me-3"></i> Los Andes, Chile</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						only@onlyflans.com
					</p>
					<p><i class="fas fa-phone me-3"></i> + 56 9999 3333</p>
				</div>
			</div>
		</div>
	</section>
</footer>
<!-- Footer -->