{% load static %}

{% block css %}
    /* Estilos para el logotipo */
  <style>
    .main-logo {
      height: 8rem;
      margin: 0 auto;
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
    }
  </style>
{% endblock %}

<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <img src="{% static 'img/logo.png' %}" alt="Logotipo" class="main-logo">
    </div>
  </div>
</div>

