{% extends 'base.html' %}

{% block content %}
<p class="header- mb-5 text-center">Flanes del Mundo para disfrutar y compartir</p>
<div class="container">
  <div class="row">
    {% for flan in flanes %}
    <div class="col-sm-12 col-md-6 col-lg-3 col xl-1">
      <div class="card mb-5 hover-shadow bg-info flip-container">
        <div class="flipper ">
          <div class="front">
            <img class="card-img-top" src="{{ flan.img_url}}" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title merriweather-light">{{ flan.nombre }}</h3>
              <p class="card-text">{{ flan.descripcion }}</p>
            </div>
          </div>
          <div class="back">
            <img class="card-img-top" src="{{ flan.img_url}}" alt="Card image cap">
  
            <div class="card-body">
              <h3 class="card-title merriweather-light">{{ flan.nombre }}</h3>
              <p class="card-text">{{ flan.descripcion }}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item ">Precio: ${{ flan.precio }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}