{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Regístrate y se parte de nuestra comunidad</h1>
<div class="row">
  <form>
    <div class="mb-3">
      <label for="username" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="username" placeholder="" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ingrese Password</label>
      <input type="password" class="form-control" name="password1">
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Repita Password</label>
    <input type="password" class="form-control"  name="password2">
  </div>
    <button type="submit" class="btn btn-primary">Regístrate</button>
  </form>
</div>
{% endblock %}
